<title>
  Adição de operação
</title>

<div class="row">
  <div class="col l12 m12 s12">
    <div class="title">
      Adicionar operação
    </div>
  </div>
</div>


<div class="mat-elevation-z8">
  <div class="basediv3">
    <div class="field-titles">DESCRIÇÃO</div>
    <div class="full-width-textarea">
      <textarea cdkTextareaAutosize
                matInput
                maxlength="250"
                [(ngModel)]="descricaoTextArea"
                placeholder="Descrição">
      </textarea>
    </div>
  </div>


  <div class="basediv3">
    <div class="basechild6">
      <div class="field-titles">ATIVIDADE</div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Selecione a Atividade</mat-label>
        <mat-select required (selectionChange)="selecionarAtividade($event)" [value]="(atividadeSelecionada)?.Nome">
          <mat-option *ngFor="let atividade of atividades" [value]="atividade.Nome">{{atividade.Nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="basechild6">
      <div class="field-titles">DISCIPLINA</div>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Selecione a Disciplina</mat-label>
        <mat-select required (selectionChange)="selecionarDisciplina($event)" [value]="(disciplinaSelecionada)?.Nome">
          <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.Nome"> {{disciplina.Nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row flexitemFull">
    <p class="field-titles">LOCAL DE INSTALAÇÃO</p>
    <div class="treediv">
      <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport-popup mat-elevation-z2">
          <div *ngIf="treeviewLoader">
            <app-treeview-li  [hasPermission]="true"
                              [hierarchyInput]="nodeRecebido"
                              (selectedNodes)="retornaSelecionados($event)">
            </app-treeview-li>
          </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <mat-dialog-actions>
    <div class="reverseRow flexitemFull spaced" style="margin-bottom: 1em">
      <button mat-raised-button class="active" (click)="salvar()">SALVAR</button>
      <button mat-raised-button class="texto-primary" mat-dialog-close>CANCELAR</button>
    </div>
  </mat-dialog-actions>
</div>
