@import '../../../variables.scss'; 

.buttons{
   position: absolute;
   bottom: 10%;
}
.active {
    background-color: $primary-color;
    color: white;
    font-size: medium;
}

.reverseRow {
    display: flex;
    flex-direction: row-reverse;
}


.disabledStyle {
    background-color: rgba(210, 210, 210, 0.4) !important;
    border-color: grey !important;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexitemHalf {
    width: 50%;
    margin: auto;
}

.flexitemFull {
    width: 100%;
    margin: auto;
}

.halfwidth {
    width: 45%;
}

.ninetywidth {
    width:90%;
}

.fullwidth{
    width: 100%;
}

.spaced {
    flex: 1 1 200px;
    justify-content: space-evenly;
}

.linedistance {
    margin-top: 13px;
}