.message-div-box {
  padding: 1px;
  border-radius: 4px !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.typeIcon {
  padding-top: 5px !important;
}

.message {
  padding-top: 7px !important;
}
