<connectionStrings>
  
  <!-- CONEXAO-DB -->
  <add name="DB_LaborSafetyEntities"
       connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='Password=iisuser;Persist Security Info=True;User ID=iisuser;Initial Catalog=DB_LaborSafety;Data Source=LAPTOP-IFBH1KHD;MultipleActiveResultSets=True;App=EntityFramework'"
       providerName="System.Data.EntityClient" />
  
</connectionStrings>