<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SI_CARACT_LaborSafety_RFC01_OutBinding" />
                <binding name="SI_CHAVEMOD_LaborSafety_RFC02_OutBinding" />
                <binding name="SI_LOCALINST_LaborSafety_RFC03_OutBinding" />
                <binding name="SI_ORDEMPM_LaborSafety_RFC05_OutBinding" />
                <binding name="SI_PERFILCAT_LaborSafety_RFC04_OutBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PERFILCAT_LaborSafety_RFC04_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_PERFILCAT_LaborSafety_RFC04_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_PERFILCAT_LaborSafety_RFC04_Out"
                binding="basicHttpBinding" bindingConfiguration="SI_PERFILCAT_LaborSafety_RFC04_OutBinding"
                contract="SAP_05_APR_SERVICE.SI_PERFILCAT_LaborSafety_RFC04_Out"
                name="SI_PERFILCAT_LaborSafety_RFC04_OutPort" />
            <endpoint address="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CARACT_LaborSafety_RFC01_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_CARACT_LaborSafety_RFC01_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_CARACT_LaborSafety_RFC01_Out"
                binding="basicHttpBinding" bindingConfiguration="SI_CARACT_LaborSafety_RFC01_OutBinding"
                contract="SAP_01_DISCIPLINA_SERVICE.SI_CARACT_LaborSafety_RFC01_Out"
                name="SI_CARACT_LaborSafety_RFC01_OutPort" />
            <endpoint address="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CHAVEMOD_LaborSafety_RFC02_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_CHAVEMOD_LaborSafety_RFC02_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_CHAVEMOD_LaborSafety_RFC02_Out"
                binding="basicHttpBinding" bindingConfiguration="SI_CHAVEMOD_LaborSafety_RFC02_OutBinding"
                contract="SAP_02_ATIVIDADE_PADRAO_SERVICE.SI_CHAVEMOD_LaborSafety_RFC02_Out"
                name="SI_CHAVEMOD_LaborSafety_RFC02_OutPort" />
            <endpoint address="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ORDEMPM_LaborSafety_RFC05_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_ORDEMPM_LaborSafety_RFC05_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_ORDEMPM_LaborSafety_RFC05_Out"
                binding="basicHttpBinding" bindingConfiguration="SI_ORDEMPM_LaborSafety_RFC05_OutBinding"
                contract="SAP_04_PERFIL_CATALOGO_SERVICE.SI_ORDEMPM_LaborSafety_RFC05_Out"
                name="SI_ORDEMPM_LaborSafety_RFC05_OutPort" />
            <endpoint address="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_LOCALINST_LaborSafety_RFC03_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_LOCALINST_LaborSafety_RFC03_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_LOCALINST_LaborSafety_RFC03_Out"
                binding="basicHttpBinding" bindingConfiguration="SI_LOCALINST_LaborSafety_RFC03_OutBinding"
                contract="SAP_03_LOCAL_INSTALACAO_SERVICE.SI_LOCALINST_LaborSafety_RFC03_Out"
                name="SI_LOCALINST_LaborSafety_RFC03_OutPort" />
        </client>
    </system.serviceModel>
</configuration>