.portal {
    float:left;
    margin-top: 6px;
    padding-left: 2vw;
}

.nome-usuario {
    float:right;
    margin: 0px !important
    ;
    padding-top: 1em;
    font-size: small;
    line-height: 15px;
}